@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #212529;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
}
.modal-box {
  text-align: center;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  padding: 70px 30px;
  border-radius: 25px;
  background-color: #fff;
  color: #333;
}
.modal-box h2 {
  margin: 10px 0 15px;
  font-size: 25px;
  font-weight: 500;
}
.modal-box h3 {
  font-size: 16px;
  font-weight: 400;
}
.modal-box form {
  margin-top: 25px;
}
.modal-box button {
  font-size: 14px;
  padding: 8px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 7px;
  background-color: red;
  color: #fff;
}
button:hover{
  transform: scaleX(1.15);
}